@charset "UTF-8";
#wrapper-home {
  display: flex; }

#main-background {
  width: 800px;
  height: 980px;
  background-image: url(../../img/Fondo-1.jpg);
  background-size: cover;
  justify-content: center; }

#info-home {
  width: 1200px;
  height: 980px;
  background-color: #F2F2F0; }

#titles-home h3 {
  color: #08251B;
  font-size: 48px;
  font-weight: bold;
  padding-left: 400px;
  margin-top: 0; }

/*Animación*/
.titles-home-animate {
  position: relative;
  left: 250px;
  top: 250px;
  color: #012525;
  border-right: 2px solid #042525;
  font-size: 144px;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%); }

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal; }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 4.8em; } }

@keyframes blinkTextCursor {
  from {
    border-right-color: #012525; }
  to {
    border-right-color: transparent; } }
