@charset "UTF-8";
/*Contenido de la información personal*/
#info-personal {
  display: flex; }

#profile-photo {
  width: 611px; }

#profile-photo img {
  margin: 170px 140px;
  width: 450px;
  height: 480px; }

#text-personal {
  text-align: center;
  width: 611px;
  color: #f9f9f9;
  justify-content: space-between; }

#text-personal p {
  margin-left: 170px;
  line-height: 35px;
  width: 500px;
  text-align: left;
  font-size: 18px; }

#text-personal h3 {
  margin-top: 150px;
  margin-left: 190px;
  font-size: 45px; }

/*información de contacto*/
#content-contact {
  width: 1440px; }

#info-contact {
  width: 700px;
  height: 800px;
  background-image: url(../../img/Fondo-2.jpg);
  color: #f9f9f9;
  float: left;
  border-radius: 22px 0 0 22px; }

#info-contact h2 {
  padding-top: 150px;
  margin-left: 250px; }

#info-contact p {
  margin-left: 250px; }

#info-contact img {
  margin-right: 10px; }

#info-contact p + p {
  margin-top: 40px; }

/*Formulario*/
#content-form {
  width: 737px;
  height: 800px;
  background-color: #e0d8cb;
  float: right;
  border-radius: 0 22px 22px 0; }

.form {
  margin-top: 170px; }

#content-form h2 {
  margin-left: 140px;
  font-weight: bold;
  color: #012525; }

#content-form label {
  margin-left: 140px;
  font-weight: bold; }

#content-form input {
  margin-top: 5px;
  margin-left: 140px;
  margin-bottom: 20px;
  width: 450px;
  height: 25px;
  display: block;
  border: 1px solid #012525;
  border-radius: 5px; }

#content-form button {
  display: block;
  font-size: 16px;
  padding: 10px 16px;
  color: #f9f9f9;
  background-color: #012525;
  border: 1px solid #012525;
  border-radius: 5px;
  margin-left: 320px;
  margin-top: 35px; }

#content-form button:hover {
  background-color: #1e4d1e;
  border: 1px solid #1e4d1e;
  color: #f9f9f9; }

#content-form textarea {
  width: 450px;
  height: 150px;
  margin-left: 140px;
  margin-top: 7px;
  border: 1px solid #012525;
  border-radius: 5px; }

#wrapper-home {
  display: flex; }

#main-background {
  width: 800px;
  height: 980px;
  background-image: url(../../img/Fondo-1.jpg);
  background-size: cover;
  justify-content: center; }

#info-home {
  width: 1200px;
  height: 980px;
  background-color: #f9f9f9; }

#titles-home h3 {
  color: #08251B;
  font-size: 48px;
  font-weight: bold;
  padding-left: 400px;
  margin-top: 0; }

/*Animación*/
.titles-home-animate {
  position: relative;
  left: 250px;
  top: 210px;
  color: #012525;
  border-right: 2px solid #012525;
  font-size: 144px;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%); }

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal; }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 4.8em; } }

@keyframes blinkTextCursor {
  from {
    border-right-color: #012525; }
  to {
    border-right-color: transparent; } }

body {
  margin: 0;
  padding: 0;
  font-size: 16px; }

#wrapper-principal {
  max-width: 100%;
  height: 980px;
  margin: 0 auto;
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif; }

#wrapper-secundario {
  max-width: 100%;
  width: 1440px;
  height: 800px;
  margin: 0 auto;
  border-radius: 22px 22px 22px 22px;
  background-color: #012525; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

#header {
  margin: 0 auto;
  width: 1700px; }

/*logo*/
#logo {
  width: 200px;
  float: left; }

/*Menú*/
.menu-hamburger {
  display: none; }

#menu {
  float: right;
  width: 720px; }

#menu-2 {
  margin-right: 100px; }

#menu-lista {
  float: right; }

#menu-lista {
  list-style: none;
  padding-top: 20px; }

#menu-lista li {
  float: left; }

#menu-lista li + li {
  margin-left: 50px; }

#menu-lista a {
  color: #012525;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px; }

#menu-lista a:hover {
  text-decoration: underline; }

/*Footer*/
#copy {
  margin-top: 30px;
  margin-left: 110px;
  color: #012525;
  font-weight: bold; }

#box-project {
  color: white;
  margin-left: 110px;
  padding-top: 125px;
  float: left; }

.interaction {
  float: left;
  margin-right: 39px;
  width: 380px;
  height: 250px;
  margin-bottom: 50px;
  border-radius: 8px; }

.interaction:hover {
  box-shadow: 0px 3.89312px 23.3587px rgba(255, 255, 255, 0.404); }

.info-project-1 {
  background-image: url(../../img/img-1.png);
  background-size: cover; }

.info-project-2 {
  background-image: url(../../img/img-2.png);
  background-size: cover; }

.info-project-3 {
  background-image: url(../../img/img-3.png);
  background-size: cover; }

.info-project-4 {
  background-image: url(../../img/img-4.png);
  background-size: cover; }

.info-project-5 {
  background-image: url(../../img/img-5.png);
  background-size: cover; }

.info-project-6 {
  background-image: url(../../img/img-6.png);
  background-size: cover; }

#project-img {
  margin-left: 180px;
  margin-top: 30px; }

#text-project {
  color: #f9f9f9;
  margin-top: 350px;
  margin-left: 150px;
  width: 500px;
  font-size: 18px; }

@media (max-width: 767px) {
  #wrapper-principal {
    max-width: 100%;
    height: 1291px;
    margin: 0 auto;
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif; }
  #wrapper-secundario {
    max-width: 100%;
    width: 1440px;
    height: 1291px;
    margin: 0 auto;
    border-radius: 22px 22px 22px 22px;
    background-color: #012525; }
  /*Header*/
  #header {
    margin: 0 auto;
    width: 100%; }
  /*Menú*/
  #menu {
    display: none; }
  #menu-2 {
    display: none; }
  /*Home*/
  #wrapper-home {
    display: unset; }
  #main-background {
    display: none; }
  #info-home {
    background-color: #f9f9f9;
    width: 100%;
    height: 1291px;
    background-image: url(../../img/fondo-home.jpg);
    background-size: cover;
    justify-content: unset; }
  #info-home p {
    color: #f9f9f9;
    margin: 0; }
  #titles-home h3 {
    color: #f9f9f9;
    padding-left: 190px;
    margin-top: 470px; }
  /*Animación*/
  .titles-home-animate {
    left: 50px;
    top: 550px; }
  /*About me*/
  #info-personal {
    display: unset; }
  #profile-photo {
    margin: 0 auto; }
  #profile-photo img {
    margin: 0;
    padding-top: 50px;
    padding-left: 90px;
    width: 444px;
    height: 452px; }
  #text-personal {
    text-align: center;
    width: 611px;
    color: #f9f9f9;
    justify-content: unset;
    padding-bottom: 25px;
    margin: 0 auto; }
  #text-personal p {
    line-height: 35px;
    width: 500px;
    text-align: left;
    font-size: 18px;
    margin-left: 0;
    padding-left: 55px; }
  #text-personal h3 {
    font-size: 54px;
    margin-left: 0;
    margin-top: 0;
    padding-top: 75px; }
  /*Projects*/
  #box-project {
    color: white;
    margin-left: 40px;
    padding-top: 125px;
    float: left; }
  .info-project-1 {
    float: left;
    margin-right: 0;
    margin-top: 50px;
    width: 320px;
    height: 220px; }
  .info-project-2 {
    float: right;
    margin-top: 50px;
    width: 320px;
    height: 220px; }
  .info-project-3 {
    float: left;
    width: 320px;
    height: 220px;
    margin-top: 30px; }
  .info-project-4 {
    float: right;
    margin-top: 30px;
    width: 320px;
    height: 220px; }
  .info-project-5 {
    float: right;
    margin-top: 80px;
    width: 320px;
    height: 220px; }
  .info-project-6 {
    float: float;
    width: 320px;
    height: 220px;
    margin-top: 30px; }
  #project-img {
    margin-left: 140px;
    padding-top: 150px; }
  #text-project {
    color: #f9f9f9;
    margin-top: 150px;
    margin-left: 150px;
    width: 500px;
    font-size: 18px; }
  /*Contact*/
  #content-contact {
    width: 100%; }
  #info-contact {
    width: 100%;
    height: 100%;
    background-image: url(../../img/fondo-contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #f9f9f9;
    float: left;
    border-radius: 22px 22px 0 0;
    font-size: 20px; }
  #info-contact h2 {
    padding-top: 100px;
    margin-left: 300px; }
  #content-form {
    width: 100%;
    height: 100%;
    background-color: #012525;
    float: right;
    border-radius: 0 0 22px 22px; }
  .form {
    margin-top: 120px;
    font-size: 20px; }
  #content-form h2 {
    margin-left: 300px;
    font-weight: bold;
    color: #f9f9f9; }
  #content-form label {
    margin-left: 150px;
    font-weight: bold;
    color: #f9f9f9; }
  #content-form input {
    margin-top: 5px;
    margin-left: 150px;
    margin-bottom: 20px;
    width: 450px;
    height: 35px;
    display: block;
    border: 1px solid #f9f9f9;
    background-color: #012525;
    border-radius: 5px;
    color: #f9f9f9; }
  #content-form button {
    display: block;
    font-size: 16px;
    padding: 10px 20px;
    color: #012525;
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    margin-left: 350px;
    margin-top: 35px;
    margin-bottom: 40px; }
  #content-form textarea {
    width: 450px;
    height: 150px;
    margin-left: 150px;
    margin-top: 7px;
    border: 1px solid #012525;
    border: 1px solid #f9f9f9;
    background-color: #012525;
    border-radius: 5px;
    color: #f9f9f9; }
  /*Footer*/
  #copy {
    margin-top: 30px;
    margin-left: 210px;
    color: #012525;
    font-weight: bold;
    padding-bottom: 20px; } }
