/*información de contacto*/
#content-contact{
  width: 1440px;
}
#info-contact{
  width: 700px;
  height: 800px;
  background-image: url(../../img/Fondo-2.jpg);
  color: $colorPrincipal;
  float: left;
  border-radius: 22px 0 0 22px;
}
#info-contact h2{
  padding-top: 150px;
  margin-left: 250px;
}
#info-contact p{
  margin-left: 250px;
}
#info-contact img{
  margin-right: 10px;
}
#info-contact p + p{
  margin-top: 40px;
}

/*Formulario*/
#content-form{
  width: 737px;
  height: 800px;
  background-color: #e0d8cb;
  float: right;
  border-radius: 0 22px 22px 0;
}
.form{
  margin-top: 170px;
}
#content-form h2{
  margin-left: 140px;
  font-weight: bold;
  color: $colorSecond;
}
#content-form label{
  margin-left: 140px;
  font-weight: bold;
}
#content-form input{
  margin-top: 5px;
  margin-left: 140px;
  margin-bottom: 20px;
  width: 450px;
  height: 25px;
  display: block;
  border: 2px solid $colorSecond;
  border-radius: 5px;
}
#content-form button{
  display: block;
  font-size: 1rem;
  padding: 10px 16px;
  color: $colorPrincipal;
  background-color: $colorSecond;
  border: 1px solid $colorSecond;
  border-radius: 5px;
  margin-left: 320px;
  margin-top: 35px;
}
#content-form button:hover{
  background-color: #1e4d1e;
  border: 1px solid #1e4d1e;
  color: $colorPrincipal;
}
