body{
  margin: 0;
  padding: 0;
  font-size: 16px;
}
#wrapper-principal{
  max-width: 100%;
  height: 980px;
  margin: 0 auto;
  background-color: $colorPrincipal;
  font-family: 'Open Sans', sans-serif;
}
#wrapper-secundario{
  max-width: 100%;
  width: 1440px;
  height: 800px;
  margin: 0 auto;
  border-radius: 22px 22px 22px 22px;
  background-color: $colorSecond;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}
