#box-project{
  color: white;
  margin-left: 110px;
  padding-top: 60px;
  float: left;
}
.info-box{
  float: left;
  margin-right: 39px;
  width: 380px;
  height: 250px;
  margin-bottom: 50px;
  border-radius: 8px;
}
.info-box:hover{
  box-shadow: 0px 3.89312px 23.3587px rgba(255, 255, 255, 0.404);
}
.info-project-1{
  background-image: url(../../img/img-1.png);
  background-size: cover;
}
.info-project-2{
  background-image: url(../../img/img-2.png);
  background-size: cover;
}
.info-project-3{
  background-image: url(../../img/img-3.png);
  background-size: cover;
}
.info-project-4{
  background-image: url(../../img/img-4.png);
  background-size: cover;
}
.info-project-5{
  background-image: url(../../img/img-5.png);
  background-size: cover;
}
.info-project-6{
  background-image: url(../../img/img-6.png);
  background-size: cover;
}
#project-img{
  margin-left: 180px;
  margin-top: 30px;
}
#project-img img{
  border-radius: 10px;
}
#text-project{
  color: $colorPrincipal;
  margin-top: 250px;
  margin-left: 150px;
  width: 500px;
  font-size: 1.125rem;
}
#text-project p{
  margin-bottom: 50px;
}
.button-text-project{
  padding: 10px 16px;
  color: #012525;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
#activity{
  text-align: center;
  color: #f9f9f9;
  font-size: 20px;
}
#activity h2{
  margin: 0;
  padding: 0;
}
#activity a{
  color: #f9f9f9;
}
