#box-project {
  color: white;
  margin-left: 110px;
  padding-top: 125px;
  float: left; }

.info-project-1 {
  background-image: url(../../img/img-1.png);
  background-size: cover;
  float: left;
  margin-right: 39px;
  width: 380px;
  height: 250px;
  margin-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0px 3.89312px 23.3587px rgba(71, 126, 76, 0.2); }

.info-project-2 {
  background-image: url(../../img/img-2.png);
  background-size: cover;
  float: left;
  margin-right: 39px;
  width: 380px;
  height: 250px;
  margin-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0px 3.89312px 23.3587px rgba(71, 126, 76, 0.2); }

.info-project-3 {
  background-image: url(../../img/img-3.png);
  background-size: cover;
  float: left;
  width: 380px;
  height: 250px;
  margin-bottom: 50px;
  border-radius: 8px;
  box-shadow: 0px 3.89312px 23.3587px rgba(71, 126, 76, 0.2); }

.info-project-4 {
  background-image: url(../../img/img-4.png);
  background-size: cover;
  float: left;
  margin-right: 39px;
  width: 380px;
  height: 250px;
  border-radius: 8px;
  box-shadow: 0px 3.89312px 23.3587px rgba(71, 126, 76, 0.2); }

.info-project-5 {
  background-image: url(../../img/img-5.png);
  background-size: cover;
  float: left;
  margin-right: 39px;
  width: 380px;
  height: 250px;
  border-radius: 8px;
  box-shadow: 0px 3.89312px 23.3587px rgba(71, 126, 76, 0.2); }

.info-project-6 {
  background-image: url(../../img/img-6.png);
  background-size: cover;
  float: left;
  width: 380px;
  height: 250px;
  border-radius: 8px;
  box-shadow: 0px 3.89312px 23.3587px rgba(71, 126, 76, 0.2); }

/*#project-img{
  margin-left: 180px;
  margin-top: 30px;
}
#info-project{
  color: $colorPrincipal;
  margin-top: 350px;
  margin-left: 150px;
  width: 500px;
}*/
